<!-- start custom comments snippet -->
<div id="comments"></div>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '{{ page.date }}',
  // title: '{{ page.title }}',
  owner: 'xuweilu',
  repo: 'xuweilu.github.io',
  oauth: {
    client_id: '0676a044b35718cbc897',
    client_secret: '011a39e8e8f9b0807c4d7fa98898dc13e6b3ba82',
  },
});
  gitment.render('comments');
</script>
<!-- end custom comments snippet -->