.page__meta {
  margin-bottom: 2em;
}

.sidebar img.zhihu-icon {
  width: 16px;
  height: 16px;
}

.gitment-comment-header {
  background-color: #f3f6f6!important;
}

.site-analytics {
  font-size: 10px;
  text-align: center;
}

.article-analytics {
  font-size: 10px;
  text-align: left;
  text-align: center;
}
